*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cell{
    width: 40px;
    height: 40px;
    margin: 0px;
    background-size: contain;
}
.row{
    display: flex;
	justify-content: center;
}
.game{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
	margin-top: 100px;
	overflow: scroll;
}
.top{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.top > *{
	margin: 10px;
}
h1{
	text-align: center;
}
.menu{
	list-style-type: none;
	display: inline-block;
}
.menu > li{
	display: inline;
	margin-right: 10px;
	font-weight: normal;
	position: relative;
}
.menu > li:hover{
	color: blue;
	font-weight: bold;
}
.leaderboard{
	position: absolute;
	left: 0;
}
body{
	background-color: darkolivegreen;
	height: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper, .leaderboard, .header{
	background-color: rgba(255, 255, 255, 0.5);
}
.game *{
	color: white;
	text-shadow: 2px 2px 2px black;
}
*{
	font-size: 1.3rem;
}
body > *{
	margin: 3%;
}
.leaderboard > li{
	list-style-type: none;
}
